@model SkillSet
@{
    ViewData["Title"] = "Skill Create";
}


<div class="col-4 offset-2">
    <h2>Skill Set Registration</h2>
    <form asp-action="Create" asp-controller="SkillSet" method="post">
        <div class="form-group">
            <label asp-for="Name">Skill Name</label>
            <input type="text" class="form-control" asp-for="Name">

        </div>

        <div class="form-group">
            <label asp-for="Description">Skill Description</label>
            <input type="text" class="form-control" asp-for="Description">

        </div>
      

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>